# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# backend-python
backend_python/.env
backend_python/venv/

# dependencies
node_modules/
/backend/.env 
/backend/docent-app-447923-d892fe7dd066.json
*.wav
/components/utils/ipv4_module.js
*.env
.tmp.driveupload/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
